:root { 
--white_A700_3f:#ffffff3f; 
--light_green_A700:#3ce221; 
--lime_A200:#ebef37; 
--black_900_3f:#0000003f; 
--indigo_900_99:#00008099; 
--white_A700_33:#ffffff33; 
--black_900:#000000; 
--gray_500_01:#9e8383; 
--deep_orange_A700:#fa1212; 
--white_A700_19:#ffffff19; 
--blue_gray_100:#d9d9d9; 
--gray_500:#9d9d9d; 
--lime_600:#cbcf0d; 
--lime_800:#b7740f; 
--gray_800:#454545; 
--gray_900:#530303; 
--gray_300:#dadada; 
--gray_100:#f2f2f2; 
--light_green_A700_01:#7acf0e; 
--lime_600_01:#cbcf0e; 
--white_A700_26:#ffffff26; 
--indigo_900_01:#000082; 
--indigo_900:#000080; 
--blue_200:#a9bcf0; 
--indigo_700:#2020c4; 
--white_A700:#ffffff; 
--indigo_500:#3757ac; 
}